* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.skills {
    position: relative;
    min-height: 100vh;
    padding: 100px 9% 20px;
    color: #ededed;
    background: #031b29;
}

.skills h2 {
    font-size: 50px;
    text-align: center;
    margin: 0 auto 50px;
}

.skills h2 span {
    color: #00abf0;
}

.skills .skills-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.skills .skills-row .skills-column {
    flex: 1;
}

.skills .skills-row .skills-column .title {
    font-size: 25px;
    margin: 0 0 20px;
}

.skills .skills-row .skills-column .skills-box {
    position: relative;
    border: 2px solid #00abf0;
    padding: 5px 15px;
    border-radius: 6px;
}

.skills .skills-row .skills-column .skills-box .progress {
    padding: 15px 0;
}

.skills .skills-row .skills-column .skills-box .progress h3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.skills .skills-row .skills-column .skills-box .progress .bar {
    height: 25px;
    border: 2px solid #00abf0;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0;
}

.skills .skills-row .skills-column .skills-box .progress .bar span {
    display: block;
    height: 100%;
    background: #00abf0;
    border-radius: 3px;
}